<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
table{
    border: 0.5px solid black;
	width:100%;
}
tr{
height: 300px;
}
td{
text-align:center;
}
</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>GuessWhoYouAre</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="CustomStyles.css" rel="stylesheet"/>
	
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    	 
    <div class="container">
		 <div class="column">
		     <div class ="col-md-12">
			      <table>
		<tr>
			<td style="background-color:orange;" > GUESS WHO YOU ARE? </td> 
 	 	</tr >
		</table>
			 </div>
			 
		 </div>
	

	

	<form action="{% url 'index:trait' %}" method="post">
	{% csrf_token %}
	Facebook
	<input type="text" name="fbname" value="Facebook User Name"><br>
	Twitter
	<input type="text" name="twtname" value="Twitter User Name"><br>
	Quora
	<input type="text" name="qname" value="Quora User Name"><br>
	<input type="submit" value="Submit">
	</form>

	

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>